.resource-section h4 {
  text-align: left;
}

.resource-section {
  margin-left: 0.7rem;
}

.resource-line {
  display: inline-block;
  position: relative;
  width: 100%;
  @include media(medium-up) {
    padding: 0.5rem 0;
  }
}

.analytics-project {
  background-color: #d3dbe6;
  height: 360px;
  width: 100%;
  @include media(medium-up) {
    width: 49% !important;
  }
  @include media(medium-down) {
    display: inline-block;
    margin: 0.5rem 0;
  }
}

.osm-tool {
  width: 100%;
  @include media(medium-up) {
    width: 33% !important;
  }
  @include media(medium-down) {
    display: inline-block;
    margin: 0.5rem 0;
  }
}

.osm-tool {
  display: inherit;
}

.tool-description > p {
  overflow: hidden;
  text-overflow: ellipsis;
  height: 150px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.project-title {
  padding: 1rem !important;
  display: inline-block;
}

.project-description {
  display: block;
  position: relative;
  background-color: white;
  @include media(small-up) {
    top: -200px;
    height: 200px;
  }
  @include media(large-up) {
    width: 50%;
  }
  @include media(small-down) {
    top: -150px;
    height: 150px;
  }
}

.project-description > p:first-child, .tool-description > p {
  font-size: 1.1rem;
  padding: 1rem 0.2rem 1rem 1rem !important;
  text-align: left !important;
}

.project-link {
  text-align: left;
  padding: 0 0rem 0.3rem 0rem !important;
  border-bottom: 1px solid #4a90e2;
  margin: 0 1rem;
  width: 90% !important;
  &:after {
    content: ">";
    float: right;
    color: #4a90e2 !important;
  }
}

.link-section {
  color: #4a90e2 !important;
  text-decoration: none !important;
}

.project-title-section {
  display: block;
  height: 60px;
}

.project-thumb-section {
  display: block;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 0 0 1rem;
}
