.resource-section h4 {
  text-align: left;
}

.resource-section {
  margin-left: 0.7rem;
}

.resource-line {
  display: inline-block;
  position: relative;
  width: 100%;
  @include media(medium-up) {
    padding: 0.5rem 0;
  }
}

.analytics-project {
  background-color: #d3dbe6;
  height: 360px;
  width: 100%;
  @include media(medium-up) {
    width: 49% !important;
  }
  @include media(medium-down) {
    display: inline-block;
    margin: 0.5rem 0;
  }
}

.osm-tool, .contributor {
  width: 100%;
  display: inherit;
  @include media(medium-up) {
    width: 33% !important;
  }
  @include media(medium-down) {
    display: inline-block;
    margin: 0.5rem 0;
  }
}

.tool-description {
  padding: 0 0 1rem 0 !important;
  border-bottom: 1px solid #e1e1e1;
  outline-offset: 0.5rem;
}

.tool-description > p {
  overflow: hidden;
  text-overflow: ellipsis;
  height: 150px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.project-title {
  padding: 1rem !important;
  display: inline-block;
}

.project-description {
  display: block;
  position: relative;
  background-color: white;
  @include media(small-up) {
    top: -200px;
    height: 200px;
  }
  @include media(large-up) {
    width: 50%;
  }
  @include media(small-down) {
    top: -150px;
    height: 150px;
  }
}

.project-description > p:first-child, .tool-description > p, .contributor-description > p {
  font-size: 1.1rem;
  padding: 1rem 0.2rem 1rem 1rem !important;
  text-align: left !important;
}

.project-link {
  text-align: left;
  padding: 0 0rem 0.3rem 0rem !important;
  border-bottom: 1px solid #4a90e2;
  margin: 0 1rem;
  width: 90% !important;
  &:after {
    content: ">";
    float: right;
    color: #4a90e2 !important;
  }
}

.link-section {
  color: #4a90e2 !important;
  text-decoration: none !important;
}

.project-title-section {
  display: block;
  height: 60px;
}

.contributor-logo-section {
  display: block;
  max-height: 150px;
  text-align: left;
}
.contributor-logo-section > a {
  padding: 0 !important;
}

.contributor-logo {
  max-width: 17rem !important;
  padding: 2rem 3rem 1rem 1rem !important;
}

.project-thumb-section {
  display: block;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 0 0 1rem;
}

.not-found-msg {
  width: 100% !important;
  font-weight: 600;
  text-align: center;
  padding-top: 30px;
}

.filter-section {
  background-color: #d3dbe6;
}

.filter-section-content {
  padding: 2rem 1rem 4rem 1rem;

}

.filter-options-row {
  width: 100%;
  display: inline-block;
}

.filter-option {
  float:left;
  background-color: #68707f;
  margin: 0 1%;
  color: #fff !important;
  @include media(medium-up) {
    width: 23% !important;
  }
}

.filter-option > span {
  float: left;
  padding: 1.6rem 0;
  width: 70%;
  text-align: left;
}

.filter-option > span:after {
  content: url(../../graphics/icons/chevron-right.svg);
  margin-left: 0.25rem;
  height: 0.6rem;
  width: 1rem;
  left: 0;
  top: 1rem;
  float: right;
}

.outer-circle {
	background: #fff;
	border-radius: 50%;
	height:50px;
	width:50px;
  margin: 0.8rem;
  float: left;
}

.inner-circle {
	position: absolute;
	border-radius: 50%;
	height:14px;
	width:14px;
  margin: 18px;
}

.red-circle {
  background-color: #d73f3f;
}

.blue-light-circle {
  background-color: #50e3c2;
}

.blue-dark-circle {
  background-color: #4a90e2;
}

.yellow-circle {
  background-color: #f8e71c;
}
